html, body {
  width: 100%;
  height: 100%;
  background-color: #F7F9F8;
  margin: 0px;
}

#game {
  height: 80%;
  width: 100%;
  background-color: #063718;
  display: grid;
  grid-template-columns: 1.8fr 0.7fr 0.5fr;
  grid-template-rows: 540px 70px;
}

.mainHeading {
  text-align: center;
  font-family: arial, sans-serif;
  margin-top: 40px;
  margin-bottom: 30px;
}

#myCards {
  margin: 15px;
  grid-row: 1;
}

#opponentsCards {
  width: 85%;
  height: 42%;
  margin: auto 0px;
  grid-row: 1;
  grid-column:  3;
  justify-self: center;
}

#matchfield {
  margin: 35px 10px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#myStack {
  grid-row: 1 / 1;
  grid-column:  1 / span 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;
}

.back {
  width: 90%;
  height: 90%;
  border: 1px solid black;
  margin: 0px;
}

.card {
  width: 160px;
  height: 230px;
  margin: 0px 10px 20px;
  border: 1px solid black;
  background-color: white;
}

#startRound {
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
  align-self: center;
  z-index: 2;
}

#play-button {
  border-radius: 10px;
  font-family: arial, sans-serif;
  font-size: 12pt;
  padding: 4px 10px;
  font-weight: bold;
}

#new-button  {
  margin-top: 250px;
  border-radius: 10px;
  font-family: arial, sans-serif;
  font-size: 12pt;
  padding: 4px 10px;
  font-weight: bold;
  width: 200px;
}

#next {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  display: none;
}

#next-button{
  border-radius: 10px;
  font-family: arial, sans-serif;
  font-size: 12pt;
  padding: 4px 10px;
  font-weight: bold;
  width: 200px;
}

#newGame {
  grid-row: 1;
  grid-column: 1 / span 3;
  display: none;
  align-self: center;
  justify-self: center;
}

#finish-message {
  grid-row: 1;
  grid-column: 1 / span 3;
  font-size: 16pt;
  font-family: arial, sans-serif;
  font-weight: bold;
  justify-self: center;
  align-self: center;
  color: white;
}

#finish-link {
  color: black;
  font-family: arial, sans-serif;
  font-size: 12pt;
  padding: 4px 10px;
  font-weight: bold;
  text-decoration: none;
}

#myPoints {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  font-family: arial, sans-serif;
  color: white;
}

#opponentsPoints {
  grid-row: 2;
  grid-column: 3;
  justify-self: center;
  font-family: arial, sans-serif;
  color: white;
  align-self: center;
}

.active {
  background-color: red;
}